.overlays {
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.overlay {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 30px;
    width: 80%;
    height: 90%;
    background-color: var(--white);

    &-results {
        grid-template-columns: 1fr auto;
        justify-content: space-between;
        font-size: 2rem;

        > div {
            display: grid;
            grid-template-rows: auto 1fr auto;
            gap: 20px;
            height: 100%;
            padding: 20px;
            place-items: center;

            .stats {
                @include flexbox(row, center, center, .5rem);
                background-color: var(--yellow);
                border: 1px solid var(--yellow-dark);
                border-radius: 30px;
                height: 100%;
                width: 100%;
            }
        }

        > p {
            font-weight: bold;
            margin: 10px;
        }
    }

    &-pause {
        align-items: flex-end;
        background-color: var(--white);
        font-size: 1.5rem;
        padding: 20px;
    }
}

.results-navigation {
    @include flexbox(column, center, space-around);
    height: 100%;
    background-color: var(--yellow-dark);
    border-start-end-radius: 30px;
    border-end-end-radius: 30px;
    padding: 20px;

    > div {
        @include flexbox(column, center, center);
        color: var(--white);
    }
}