body {
    height: 100vh;
    font-family: 'Space Grotesk', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 1120px){
    * {
        font-size: 1rem;
    }
}